.footer {
  padding: 0 100px;
  .top {
    color: gray;
    padding: 60px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
    h2 {
      font-size: 18px;
    }
    .item {
      font-size: 14px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    h2 {
      color: #2879fe;
    }
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: gray;
  }
  .right {
    img {
      height: 50px;
    }
  }
}
